---
layout: default
title: "Ruby on Rails"
---

  <!-- Header -->
  <header>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <img class="img-responsive" src="images/rails.png" alt="Ruby on Rails">
                  <div class="intro-text">
                      <span class="name">Web development that doesn’t hurt</span>
                      <span class="skills">Ruby on Rails<sup><small>&reg;</small></sup> is an open-source web framework that’s optimized for programmer happiness and sustainable productivity. It lets you
                        write beautiful code by favoring convention over configuration.</span>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <div class="release">
      <div class="container">
          <div class="row">
              <div class="footer-col col-md-12">
                  <a href="http://weblog.rubyonrails.org/2014/12/19/Rails-4-2-final/" title="Ruby on Rails Blog" class="btn btn-lg btn-outline">Rails 4.2.0 has been released!</a>
              </div>
          </div>
      </div>
  </div>
  {% include slivers.html %}
  {% include quotes.html %}
  {% include usedby.html %}
  {% include createdby.html %}