/* Site */
body {
	background: #fff url(images/topbluefade.gif) repeat-x center top;
	color: #333;
	font-family: Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin: 0px;
	padding: 0px;
}
a img {
	border: none;
}
a.nohover {
	background-color: transparent !important;
}
a.align-right {
	float: right;
	margin: 0px 0px 0px 10px;
}
a.align-right img {
	display: block;
}
a.align-center {
	display: inline-block;
	margin: 0px 5px;
}
a.align-center img {
	display: block;
}
img.bordered {
	background-color: #fff;
	border: 1px solid #CCC;
	padding: 1px;
}
img.align-right {
	float: right;
	margin: 0px 0px 0px 10px;
}
span.highlight {
	background-color: #ffc;
}
div.section {
	margin: 0px auto;
	overflow: hidden;
	width: 700px;
}
div.section h2 {
	color: #000;
	float: left;
	font-family: Georgia;
	font-size: 28px;
	font-weight: normal;
	line-height: 120%;
	margin: 0px 0px 20px 0px;
	text-align: right;
	width: 200px;
}
div.section h3 {
	color: #900;
	font-family: Georgia;
	font-size: 18px;
	margin: 0px 0px 0px 250px;
	line-height: 140%;
}
div.section h3.pull-left {
	font-size: 20px;
	font-weight: normal;
	line-height: 120%;
	color: #900;
	float: left;
	margin: 0px 0px 10px 0px;
	width: 200px;
	text-align: right;
}
div.section p {
	font-family: Georgia;
	font-size: 18px;
	line-height: 140%;
	margin: 0px 0px 25px 250px;
	width: 450px;
}
div.section h2.small {
	font-size: 20px;
}
div.section p.small {
	font-size: 14px;
}
div.section blockquote {
	margin: 0px 0px 25px 250px;
	width: 450px;
}
div.section blockquote p {
	font-family: Courier New, Courier, mono;
	font-size: 16px;
	font-weight: bold;
	line-height: 140%;
	margin: 0px 25px;
	width: auto;
}
div.section p.more {
	font-size: 12px;
	text-align: center;
}
div.section p.centered {
	text-align: center;
}
div.section p.download,
div.section p.credit {
	font-size: 14px;
}
div.section p.footnote,
div.section p.sponsorship {
	font-size: 12px;
}
div.section img.biopic {
	background-color: #fff;
	border: 2px solid #ccc;
	padding: 2px;
	float: left;
	margin: 0px 0px 10px 40px;
}
div.section a.screencast {
	background-color: transparent !important;
	float: left;
	clear: left;
	margin: 0px 0px 25px 25px;
}
div.section a.screencast img {
	display: block;
	background-color: #fff;
	border: 2px solid #ccc;
	padding: 2px;
}
div.section ul.grid {
	list-style: none;
	margin: 0px 0px 15px 280px;
	padding: 0px;
	overflow: hidden;
	width: 420px;
}
div.section ul.grid li {
	float: left;
	margin: 0px 0px 0px 0px;
	height: 160px;
	width: 200px;
}
div.section ul.grid li a {
	background-color: transparent !important;
	display: block;
	margin: 0px 0px 5px 0px;
}
div.section ul.grid li img {
	display: block;
	border: 1px solid #ccc;
	padding: 1px;
}
div.section ul.grid li p {
	font-size: 10px;
	font-family: inherit;
	margin: 0px;
	width: auto;
}
div.section ul.grid li p a {
	display: inline;
}
div.section ul.grid li p a:hover {
	background-color: #f4dda6 !important;
}
div.section div.video {
	margin: 0px 0px 25px 250px;
	width: 450px;
}
div.section ul.links {
	list-style: none;
	float: left;
	clear: left;
	text-align: right;
	width: 200px;
	padding: 0px;
	margin: 0px 0px 20px 0px;
	font-family: Georgia;
	font-size: 14px;
	line-height: 140%;
	overflow: hidden;
}
div.section ul.links li {
	float: right;
	clear: right;
}
div.section ul.links li.rss {
	background: url(images/rss.png) no-repeat 0px 1px;
	padding: 0px 0px 0px 22px;
}
div.section code {
	font-family: Courier New, Courier, mono;
	font-size: 16px;
	font-weight: bold;
}
#navigation {
	width: 726px;
	margin: 15px auto 10px;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
}
#navigation a {
	color: #000;
	font-weight: bold;
	font-size: 11px;
	text-decoration: underline;
}
#navigation a:hover {
	background-color: #000;
	color: #fff;
	text-decoration: none;
}
#article {
	padding: 0px 0px 20px 0px;
}
#article header {
	background: url(images/rails.png) no-repeat left top;
	margin: 50px auto 32px;
	width: 606px;
	padding-left: 100px;
	text-align: center;
}
#article header h1 {
	margin: 0 auto 12px;
  font-family: "expressway",sans-serif;
  font-style: normal;
  font-weight: 700;
	font-size: 38px;
  line-height: 30px;
  color: #000000;
}
#article header h2 {
	margin: 0 auto;
  font-family: "expressway",sans-serif;
  font-style: normal;
  font-weight: 400;
	font-size: 21px;
	line-height: 24px;
	color: #999999;
}
#article p a,
#article ol a,
#article ul a {
	color: #369;
}
#article p a:hover,
#article ol a:hover,
#article ul a:hover {
	background-color: #f4dda6;
	text-decoration: none;
}
#article hr.rule {
	border: 0px;
	color: #bbb;
	background-color: #bbb;
	height: 1px;
	width: 670px;
	margin: 0px auto 25px;
}
#article p.missing {
	color: #000;
	font-family: Georgia;
	font-size: 28px;
	font-weight: normal;
	line-height: 120%;
	margin: 0px auto;
	text-align: center;
	width: 700px;
}
#footer {
	color: #666;
	font-size: 11px;
	margin: 0px auto;
	padding: 0px 0px 44px 0px;
	text-align: center;
	width: 726px;
}
#footer p {
	margin: 12px 0px;
}
#footer p a {
	color: #000;
}
#footer p a:hover {
	background-color: #333;
	color: #fff;
	text-decoration: none;
}
#sponsored_by {
	margin: 17px 0px !important;
}
#sponsored_by a:hover {
	background-color: transparent !important;
}
#sponsored_by a img {
	vertical-align: -7px;
}

/* Overview */
#announce {
	background-color: #981a21;
	color: #fff;
	font-size: 11px;
	line-height: 13px;
	margin: 0px;
	padding: 5px 0px;
	text-align: center;
}
#announce a {
	color: #fff !important;
	text-decoration: underline;
}
#announce a:hover {
	background-color: #000 !important;
	text-decoration: none;
}
#slivers {
	background: url(images/herobackground.gif) repeat-x left top;
	border-top: 2px solid #F6E69F;
	border-bottom: 2px solid #F6E69F;
	padding: 10px;
}
#slivers ul {
	list-style: none;
	margin: 0px auto;
	padding: 0px;
	overflow: hidden;
	width: 792px;
}
#slivers ul li {
	float: left;
	margin: 0px 24px;
	width: 150px;
}
#slivers ul li h2 {
	color: #0e3062;
	font-family: Georgia;
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;
	margin: 0px 0px 10px 0px;
	text-align: center;
}
#slivers ul li img {
	display: block;
	margin: 0px auto 5px;
}
#slivers ul li p {
	margin: 0px;
	text-align: center;
}
#slivers ul li p a {
	color: #000;
	font-size: 10px;
}
#slivers ul li p a:hover {
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

#slideshow {
	font-family: Georgia;
	font-size: 16px;
	height: 132px;
	line-height: 140%;
	margin: 0px auto 30px;
	text-align: center;
	width: 700px;
	padding: 30px 0px 0px 0px;
	position: relative;
}
#slideshow blockquote {
	margin: 0px;
	position: absolute;
	width: 700px;
}
#slideshow blockquote p {
	margin: 0px;
}
#slideshow blockquote p cite {
	font-size: 14px;
	color: #464242;
}
#slideshow p.more {
	font-size: 14px;
	font-style: italic;
	margin: 0px;
	position: absolute;
	bottom: 0px;
	width: 700px;
}
#slideshow p.more a {
	color: #464242;
}
#slideshow p.more a:hover {
	background-color: #000;
	text-decoration: none;
}
#used_by ul {
	list-style: none;
	margin: 0px 0px 0px 280px;
	padding: 0px;
	overflow: hidden;
}
#used_by ul li {
	float: left;
	margin: 0px 0px 20px 0px;
	width: 209px;
}
#used_by ul li img {
	display: block;
	margin: 0px 0px 5px 0px;
}
#used_by ul li p {
	font-size: 10px;
	font-family: inherit;
	margin: 0px;
	width: auto;
}
/* Applications */
#applications {
	list-style: none;
	margin: 0px auto;
	padding: 0px 0px 0px 110px;
	overflow: hidden;
	width: 700px;
}
#applications li {
	float: left;
	width: 200px;
	margin: 0px 0px 20px 0px;
}
#applications li a {
	display: block;
	margin: 0px 0px 5px 0px;
	background-color: transparent !important;
}
#applications li a img {
	background-color: #fff;
	border: 1px solid #CCC;
	padding: 1px;
	display: block;
}
#applications li p {
	font-size: 10px;
	margin: 0px;
}
#applications li p a {
	display: inline;
}
#applications li p a:hover {
	background-color: #f4dda6 !important;
}
/* Quotes */
#article.quotes blockquote {
	font-family: Georgia;
	font-size: 18px;
	line-height: 140%;
	margin: 0px auto 25px;
	text-align: center;
	width: 700px;
	padding: 0px;
	position: relative;
}
#article.quotes blockquote p {
	margin: 0px;
}
#article.quotes blockquote p cite {
	font-size: 14px;
	color: #a69e8a;
}
/* Security Policy */
#article.security {
	margin: 50px auto 30px;
	width: 700px;
}
#article.security h2 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 40px 0px 15px 0px;
}
#article.security h3 {
	color: #900;
	font-family: Georgia;
	font-size: 18px;
	margin: 0;
	line-height: 140%;
}
#article.security p,
#article.security ol {
	font-family: Georgia;
	font-size: 18px;
	line-height: 140%;
	margin: 0px 0px 25px 0px;
}
#article.security ol li {
	margin: 0px 0px 10px 0px;
}
