/* Site */
body {
	background: #fff url(images/topbluefade.gif) repeat-x center top;
	color: #333;
	font-family: Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin: 0px;
	padding: 0px;
}
sup {
  line-height: 0;
}
a img {
	border: none;
}
a.nohover {
	background-color: transparent !important;
}
a.align-right {
	float: right;
	margin: 0px 0px 0px 10px;
}
a.align-right img {
	display: block;
}
a.align-center {
	display: inline-block;
	margin: 0px 5px;
}
a.align-center img {
	display: block;
}
ul, ol {
  margin-left: 250px;
}
img.bordered {
	background-color: #fff;
	border: 1px solid #CCC;
	padding: 1px;
}
img.align-right {
	float: right;
	margin: 0px 0px 0px 10px;
}
span.highlight {
	background-color: #ffc;
}
div.section {
	margin: 0px auto;
	overflow: hidden;
	width: 700px;
}
div.section h2 {
	color: #000;
	float: left;
	font-family: Georgia;
	font-size: 28px;
	font-weight: normal;
	line-height: 120%;
	margin: 0px 0px 20px 0px;
	text-align: right;
	width: 200px;
}
div.section h3 {
	color: #900;
	font-family: Georgia;
	font-size: 18px;
	margin: 0px 0px 0px 250px;
	line-height: 140%;
}
div.section p {
  font-family: Georgia;
  font-size: 18px;
  line-height: 140%;
  margin: 0px 0px 25px 250px;
  width: 450px;
}
div.section h2.small {
	font-size: 20px;
}
div.section p.small {
	font-size: 14px;
}
pre {
	margin: 0px 0px 25px 250px;
	width: 450px;
}
pre code {
	line-height: 140%;
	margin: 0px 25px;
	width: auto;
	display: block;
}
div.section p.more {
	font-size: 12px;
	text-align: center;
}
div.section p.centered {
	text-align: center;
}
div.section p.footnote {
	font-size: 12px;
}
div.section img.biopic {
	background-color: #fff;
	border: 2px solid #ccc;
	padding: 2px;
	float: left;
	width: 158px;
	height: 180px;
	margin: 0px 0px 10px 40px;
}
div.section a.screencast {
	background-color: transparent !important;
	float: left;
	clear: left;
	margin: 0px 0px 25px 25px;
}
div.section a.screencast img {
	display: block;
	background-color: #fff;
	border: 2px solid #ccc;
	padding: 2px;
}
div.section code {
	font-family: Courier New, Courier, mono;
	font-size: 16px;
	font-weight: bold;
}
#article {
	padding: 0px 0px 20px 0px;
}
#article p a,
#article ol a,
#article ul a {
	color: #369;
}
#article p a:hover,
#article ol a:hover,
#article ul a:hover {
	background-color: #f4dda6;
	text-decoration: none;
}
#article p.missing {
	color: #000;
	font-family: Georgia;
	font-size: 28px;
	font-weight: normal;
	line-height: 120%;
	margin: 0px auto;
	text-align: center;
	width: 700px;
}
#sponsored_by {
	margin: 17px 0px !important;
}
#sponsored_by a:hover {
	background-color: transparent !important;
}
#sponsored_by a img {
	vertical-align: -7px;
}

#slideshow {
	font-family: Georgia;
	font-size: 16px;
	height: 162px;
	line-height: 140%;
	margin: 0px auto 30px;
	text-align: center;
	width: 700px;
	padding: 30px 0px 0px 0px;
	position: relative;
}
#slideshow blockquote {
	margin: 0px;
	position: absolute;
	width: 700px;
	font-size: 16px;
}
#slideshow cite {
	color: #464242;
}
#slideshow p.more {
	font-size: 14px;
	font-style: italic;
	margin: 0px;
	position: absolute;
	bottom: 0px;
	width: 700px;
}
#slideshow p.more a {
	color: #464242;
}
#slideshow p.more a:hover {
	background-color: #000;
	text-decoration: none;
	color: #fff;
}
#used_by ul {
	list-style: none;
	margin: 0px 0px 0px 280px;
	padding: 0px;
	overflow: hidden;
}
#used_by ul li {
	float: left;
	margin: 0px 0px 20px 0px;
	width: 209px;
}
#used_by ul li img {
	display: block;
	margin: 0px 0px 5px 0px;
}
#used_by ul li p {
	font-size: 10px;
	font-family: inherit;
	margin: 0px;
	width: auto;
}

/* Quotes */
blockquote {
  font-family: Georgia;
  font-size: 18px;
  text-align: center;
  margin: 0px auto 25px;
  line-height: 140%;
}

blockquote p {
	margin: 0px;
}

cite {
  font-size: 14px;
	color: #a69e8a;
}

/* The following rules override values set by Bootstrap CSS, ensuring that
   the site looks the same whether or not Bootstrap CSS is loaded. */

a                                                   {text-decoration: underline}
code                                                {background-color: transparent; color: #000; padding-left: 0; padding-right: 0}
pre                                                 {background-color: transparent; border: 0; padding: 0}
h3                                                  {font-weight: bold}
img                                                 {vertical-align: baseline}
ul, ol                                              {margin-bottom: 14px}
blockquote                                          {border-left: 0; padding: 0}

/* TYPOGRAPHY */
header                                              {font-family: "expressway", sans-serif; font-style: normal}
#slivers h2                                         {font-family: Georgia; font-size: 22px; line-height: 24px; font-weight: normal}
.navbar-nav, footer                                 {font-size: 11px}
.navbar-nav a                                       {font-weight: bold}
footer a:focus, footer a:hover                      {text-decoration: none}

footer                                              {text-align: center}
#announce                                           {font-size: 11px; line-height: 13px}
#slivers p                                          {font-size: 10px}
h1                                                  {font-size: 31px; line-height: 30px; font-weight: 700}
header h2                                           {font-size: 18px; line-height: 24px; font-weight: 400}
@media (min-width: 768px) {
  h1                                                {font-size: 38px}
  header h2                                         {font-size: 21px}
}

/* COLOR AND BACKGROUND */
footer                                              {color: #666}
header h2                                           {color: #999}
p#announce                                          {color: #fff; background-color: #981a21}
p#announce a                                        {color: #fff}
#slivers h2                                         {color: #0e3062}
p#announce a:hover, p#announce a:focus,
#slivers p a:hover, #slivers p a:focus              {color: #fff; background-color: #000}
#slivers                                            {border-top-color: #f6e69f; border-top-style: solid; border-bottom-color: #f6e69f; border-bottom-style: solid; background: url(images/herobackground.gif) left top}
.navbar-default                                     {background-color: transparent; border-color: transparent}
.navbar-default .navbar-nav>li>a, footer a, h1,
#slivers p a                                        {color: #000}
.navbar-default .navbar-nav>li>a:focus,
footer a:focus, footer a:hover,
.navbar-default .navbar-nav>li>a:hover              {color: #fff; background-color: #333}
.navbar-collapse.in                                 {border-bottom-color: #e7e7e7; border-bottom-style: solid}
.collapse:not(.in) .navbar-nav li:not(:last-child)  {border-right-color: #000; border-right-style: solid}

/* VERTICAL LAYOUT */
.navbar-nav>li>a                                    {padding-top: 0; padding-bottom: 0}
.navbar-nav li                                      {margin-top: 10px; margin-bottom: 15px}
.navbar-collapse.in                                 {border-bottom-width: 1px}
footer                                              {padding-bottom: 44px}
footer p                                            {margin-top: 12px}
footer p, h1                                        {margin-bottom: 12px}
.navbar-brand                                       {padding-top: 8px}
.navbar-brand img                                   {height: 34px}
header                                              {margin-top: 27px; margin-bottom: 32px}
h1, header h2                                       {margin-top: 0}
header h2, #announce                                {margin-bottom: 0}
#announce                                           {padding-top: 5px; padding-bottom: 5px}
#slivers p                                          {margin-top: 2px; margin-bottom: 25px}
#slivers h2                                         {margin-top: 10px}
#slivers                                            {border-top-width: 2px; border-bottom-width: 2px}

/* HORIZONTAL LAYOUT */
.navbar-nav>li>a                                    {padding-left: 0; padding-right: 0}
.collapse:not(.in) .navbar-nav li                   {padding-left: 5px; padding-right: 5px}
.collapse:not(.in) .navbar-nav li:not(:last-child)  {border-right-width: 1px}
@media (min-width: 768px) { /* center the navbar, see stackoverflow.com/a/18778769 */
  .navbar .navbar-nav                               {display: inline-block; float: none; vertical-align: top}
  .navbar .navbar-collapse                          {text-align: center}
  .navbar-brand                                     {display: none}
  header.container                                  {background: url(images/rails.png) no-repeat 22px top; padding-left: 115px;}
}
@media (min-width:992px)  { /* Reduce width on big screens */
  .container                                        {width: 750px}
  #slivers .container                               {width: 792px}
}
