<!-- Createdby Grid Section -->
<section class="createdby">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
          <h2>Who is behind it?</h2>
          <br>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-12 text-center">
          <p>Rails was created in 2003 by <a href="http://david.heinemeierhansson.com/" title="DHH's website">David Heinemeier Hansson</a> <br>
          and has since been extended by the <a href="/core">Rails core team</a> <br> and
          <a href="http://contributors.rubyonrails.org" title="Access to the list of contributors">more than 3,700 contributors</a>.</p>
      </div>

    </div>
  </div>
</section>