<!-- Sliver Grid Section -->
<section id="sliver">
  <div class="container">
    <div class="row">

      <div class="col-sm-3 sliver-item">
        <a href="/screencasts/" title="Click for screencasts" class="sliver-link">
          <div class="caption">
            <div class="caption-content">
              <h3>Get Excited</h3>
            </div>
          </div>
            <img src="/images/pages/overview/screencasts2.png" class="img-responsive" alt="Image representing a block of code">
        </a>
      </div>

      <div class="col-sm-3 sliver-item">
        <a href="/download/" title="Download the Ruby on Rails last version" class="sliver-link">
          <div class="caption">
            <div class="caption-content">
              <h3>Get Started</h3>
            </div>
          </div>
          <img src="/images/pages/overview/download42.png" class="img-responsive" alt="Graphic showing a down arrow with the number of the latest stable version of Rails">
        </a>
      </div>

      <div class="col-sm-3 sliver-item">
        <a href="/documentation/" title="APIs, Books and Guides documentation about Ruby on Rails" class="sliver-link">
          <div class="caption">
            <div class="caption-content">
              <h3>Get Better</h3>
            </div>
          </div>
          <img src="/images/pages/documentation/awdr4.png" class="img-responsive" alt="Image showing the cover of the book Agile development with rails">
        </a>
      </div>

      <div class="col-sm-3 sliver-item">
        <a href="/community/" title="Join to the Ruby on Rails Community" class="sliver-link">
          <div class="caption">
            <div class="caption-content">
              <h3>Get Involved</h3>
            </div>
          </div>
          <img src="/images/pages/overview/participate.gif" class="img-responsive" alt="Image showing a text bubble and the following words: IRC, Mailing list, bug tracker, wiki">
        </a>
      </div>

    </div>
  </div>
</section>