<!-- Usedby Grid Section -->
<section id="sliver">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
          <h2>Who is already on Rails?</h2>
          <p>Tens of thousands of Rails applications are already live. <br>
          People are using Rails in the tiniest part-time operations to the biggest companies.</p>
          <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 sliver-item">
        <a href="http://www.basecamp.com/?source=rails" title="Basecamp: Project management app" class="sliver-link">
          <div class="caption">
            <div class="caption-content">
              <h3>Basecamp</h3>
              <p>The original Rails app</p>
            </div>
          </div>
            <img src="/images/applications/bcx.gif" alt="Image showing Basecamp's index page" class="img-responsive" alt="Image representing a block of code">
        </a>
      </div>

      <div class="col-sm-3 sliver-item">
        <a href="http://twitter.com/" title="Twitter website" class="sliver-link">
          <div class="caption">
            <div class="caption-content">
              <h3>Twitter</h3>
              <p>Stay connected</p>
            </div>
          </div>
          <img src="/images/applications/twitter.jpg" alt="Image showing Twitter's index page" class="img-responsive">
        </a>
      </div>

      <div class="col-sm-3 sliver-item">
        <a href="http://github.com/" title="Github build software better, together" class="sliver-link">
          <div class="caption">
            <div class="caption-content">
              <h3>GitHub</h3>
              <p>Git repo hosting</p>
            </div>
          </div>
          <img src="/images/applications/github.jpg" class="img-responsive" alt="Image showing GitHub's index page">
        </a>
      </div>

      <div class="col-sm-3 sliver-item">
        <a href="http://www.shopify.com/" title="Shopify: e-commerce platform" class="sliver-link">
          <div class="caption">
            <div class="caption-content">
              <h3>Shopify</h3>
              <p>E-commerce made easy</p>
            </div>
          </div>
          <img src="/images/applications/shopify.jpg" title="Shopify: e-commerce platform" class="img-responsive">
        </a>
      </div>

    </div>
  </div>
</section>