<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ruby on Rails{% if page.title %}: {{ page.title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=800">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/styles.css" type="text/css" media="screen" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="//use.typekit.net/iay1mwo.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
{% include google.html %}
  </head>
  <body>
{% include navigation.html %}
    <div role="main"><section>
      <div id="article"><article>
        <header>
          <h1>{{ page.header }}</h1>
          <h2>
            {{ page.subheader_1 }}<br />
            {{ page.subheader_2 }}<br />
            {{ page.subheader_3 }}
          </h2>
        </header>
        {{ content }}
      </article></div>
    </section></div>
{% include footer.html %}
  </body>
</html>